* {
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}
.backimage {
  width: 648px;
  /* background: red; */
  height: 584px;
  position: relative;
  /* background-color: red; */
  background-repeat: no-repeat;
  margin-left: 25%;
}
.image {
  position: absolute;
  width: 400px;
  height: 100%;
  /* background: blue; */
  top: 24px;
  right: 94px;
  background-repeat: no-repeat;
  animation: changeimg 2s infinite;
}
.page {
  display: flex;
  width: 100%;
  height: 600px;
  /* background: blue; */
  margin-top: 50px;
}
.login {
  width: 400px;
  height: 100%;
  background: white;
  margin: 10px auto;
  /* border: 1px solid gray; */
}
.loginForm {
  width: 100%;
  height: 600px;
  /* background: red; */
  border: 1px solid gray;
  margin-bottom: 10px;
  text-align: center;
}
.loginbtn {
  background-color: blue;

  color: white;
  font-weight: 10px;
  padding: 10px;
  border: 0;
  /* border-radius: 7px; */
  width: 75%;
  font-size: 17px;
}
.loginForm p {
  justify-content: center;
  font-size: 20px;
  width: 75%;
  margin: 0px auto 15px auto;
}
.signUp {
  width: 100%;
  height: 70px;
  /* background: blue; */
  border: 1px solid gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.signUp span:nth-child(1) {
  margin: 0px 0px 0px auto;
}
.signUp span:nth-child(2) {
  margin: 0px auto 0px 0px;
  color: rgb(151, 155, 246);
  cursor: pointer;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.getApp {
  width: 100%;
  height: 15%;
  /* background: blue; */
  text-align: center;
}
.getApp img {
  width: 40%;
  height: 50px;
  margin-top: 15px;
}
.instaimage {
  width: 50%;
  height: 65px;
  background-repeat: no-repeat;
  margin: 25px auto;
}
.loginForm input {
  display: block;
  width: 75%;
  margin: 0px auto 15px auto;
  padding: 15px;
}
.loginForm .signupbtn {
  background-color: rgb(178, 223, 252);
  color: white;
  font-weight: 10px;
  padding: 10px;
  border: 0;
  /* border-radius: 7px; */
  width: 75%;
  font-size: 17px;
}
.or {
  width: 50px;
  display: inline-block;
  height: 50px;
  border: 0;
  border-radius: 50%;
  /* background-color: RED; */
}
.hr {
  display: inline-block;
  width: 150px;
}

.footer {
  width: 100%;
  height: 170px;
  /* background-color: red; */
  text-align: center;
}
.footer li {
  margin-top: 50px;
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  color: rgb(164, 162, 162);
  font-family: sans-serif;
}
.footer p {
  margin-top: 25px;

  color: rgb(164, 162, 162);
}
